:root{
   --page-background:#E4E3DF;
   --primary-font:#161617;
   --secondary-font:#FEFFFF;
   --primary-btn:#6248ff;
   --hover-btn:#4727fc;
   --list-color:#FEFFFF;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100vw;
    height: 100vh;
}

.todo-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--page-background);
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.todo-content{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

header{
    display:flex ;
    flex-direction: column;
    justify-self:center;
    align-items: center;
}

header>h1{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--primary-font);
}

header>h3{  font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-font);
    
}

form{
    display: flex;
    border-radius: 5px;
    border: solid black 2px;
    border-radius: 11px;

}

input{
    padding:10px;
    height: 40px;
    width: 250px;
    border-radius:8px 0 0 8px;
    border: none;
    font-weight: bolder;
    font-size: 13px;
    letter-spacing: .5px;
}

input[type="text"]:focus {
    outline: #161617;
  }


.todo-btn{
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    padding: 9px;
    border-radius: 0 9px 9px 0;
    border: none;
    background-color:var(--primary-btn);
    color: var(--secondary-font);
}


.todo-btn:hover{
background-color: var(--hover-btn);
cursor: pointer;
}

 ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
 }
.checkList{
    text-decoration: line-through 1.5px;
    
}

.notCheckList{
    text-decoration: none;
}

li{
    list-style: none;
    background-color: var(--list-color);
    border-radius:20px;
    min-width: 200px;
    /* width: max-content; */
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.delete-btn{
  border-radius: 0 20px 20px 0 ;
  background-color: var(--list-color);
  color: red;
  border: none;
  padding-right:15px;
  font-size: 22px;
}


.delete-icon:hover{
    scale: 1.2;
 cursor: pointer;
}

.check-btn{
background-color: white;
font-size: 20px;    
}

button{border: none;}

.clear-btn{
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    padding: 9px;
    border-radius: 0 9px 9px 0;
    border: none;
    color: var(--secondary-font);
    background: rgb(223, 57, 57);
    border-radius: 10px;
    margin: 20px;

}

span{
    height: 50px;
padding-left:20px;
display: flex;
justify-self: center;
align-items: center;
gap: 10px;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #0a0a0a;
    border-radius:50%;
    outline: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #000000;
  }

  