
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;


}

.todo-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #3a3737;
    flex-direction: column;
    align-items: center;

}

.todo-content{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:white;
}

form{
    display: flex;
    border-radius: 5px;
}

input{
    padding:10px;
    height: 40px;
    width: 250px;
    border-radius:8px 0 0 8px;
    border: solid black 1px;
}

button{
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 0 8px 8px 0;
    border: solid black 1px;
    background-color:rgb(139, 121, 244);
    color: white
}

button:hover{
    scale: 1.1;
    background-color:rgb(91, 235, 91);

}
 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }


li{
    list-style: none;
    background-color: rgb(228, 236, 243);
    border-radius: 8px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li>button{
    background-color: #3a3737;

}

span{
padding-left: 10px;
}